{% extends "../base.html" %}

{% block title %} Change Password{% endblock title %}

{% block content %}

<div class="container">
    <div class="row centered py-4 align-items-center justify-content-center">
        <form class="col-md-6" action="" method="POST">
            {% csrf_token %}
            <div class="form-group my-4">
                <h4 class="text-muted text-dark">Change your Password</h4>
            </div>
            <hr>
            
            <div class="form-group my-4">
                {% include "./messages.html" %}
            </div>
            
            <div class="form-group my-2">
                <label for="password">Current Password</label>
                {{form.current_password}}
                {{form.current_password.errors}}
            </div>
            <div class="form-group my-2">
                <label for="password">New Password</label>
                {{ form.new_password1 }}
                {{form.new_password1.errors}}
            </div>
            <div class="form-group my-2">
                <label for="password">Confirm Password</label>
                {{ form.new_password2 }}
                {{form.new_password2.errors}}
            </div>
            <div class="form-group d-grid gap-2 my-3">
                <button class="btn btn-dark " type="submit">Change Password</button>
            </div>

            <div class="my-3 mb-2 d-flex align-items-center justify-content-center" >
                <span>Forgot your Password? <a class="text-decoration-none px-2 text-primary" href="#">Recovery</a>your password</span>
            </div>
        </form>
    </div>
</div>

{% if form.errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in form.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock content %}